@font-face {
  font-family: 'kimberley';
  src: local('kimberley'), url('../fonts/kimberley-bl.ttf') format('truetype');
}

@font-face {
  font-family: 'BankGothic Md BT';
  src: local('BankGothic Md BT'), url('../fonts/bankgthd.ttf') format('truetype');
}


body {
  background: black;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */


.squad-container {}
.squad-item-container {
  /*width: 470px;*/
  max-width: 800px;
  background: #212121;
  border-radius: 0.6em;
  margin: 0.7em auto;
  padding: 0.7em;
  /*overflow: hidden;*/
  text-shadow: 0 0 30px black, 0 0 20px black, 0 0 10px black, 0 0 5px black;
  text-align: left;
}

.unique:before {
  font-size: 0.7em;
  content: "•";
}

.pilot-container {
  float: left;
  text-align: center;
}
.ship-type-icon {
  font-size: 2em;
  line-height: 1em;
}
.pilot-skill {
  color: #F57F20;
  font-family: "kimberley";
  font-size: 2.5em;
}
.pilot-tier img {
  width: 1.7em;
  height: 1.7em;
}

.points-container {
  float: right;
  text-align: right;
}
.minified .points-container > div {
  float: right;
}
.faction {
  font-size: 1.5em;
  line-height: 1.5em;
  float: right;
  margin-left: 0.5em;
}
.points {
  font-family: "kimberley";
  font-size: 1.5em;
  float: right;
}

.id-container {
  font-family: "BankGothic Md BT";
  font-size: 1.6em;
  white-space: nowrap;
  line-height: 1.3em;
  margin-left: 2em;
}
.pilot {
  margin-top: 0.2em;
}

.stats-container {
  float: left;
  font-family: "kimberley";
  text-shadow: 0 0 30px black, 0 0 20px black, 0 0 10px black, 0 0 5px black;
  margin-top: 0.6em;
}
.stat {
  font-size: 1.5em;
  display: inline-block;
  margin: 0 0.2em;
}
.stat.attack * {
  color: #EF1A42;
}
.stat.agility * {
  color: #5BA339;
}
.stat.hull * {
  color: #FFF417;
}
.stat.shield * {
  color: #64EFFC;
}
.stat i {
  font-size: inherit;
  position: relative;
  top: -0.15em;
  margin-right: 0.2em;
}

.action-container {
  float: right;
  clear: right;
  margin-top: 0.7em;
}
.minified .action-container {
  margin-top: 0.4em;
}
.action {
  display: inline-block;
  margin-left: 0.5em;
}
.action i {
  color: #5BA339;
  font-size: 1.7em;
}

.pilot-ability-container {
  clear: both;
  margin: 3em 0 0.5em 0;
  padding: 0.5em;
  text-align: center;
  background: #3E3E3E;
  border-radius: 0.5em;
}
.no-pilot .pilot-ability-container {
  padding: 0;
}

.upgrades-container {
  float: left;
  vertical-align: middle;
}
.upgrade i {
  font-size: 1.8em;
  line-height: 1.3em;
}
.upgrade span.name {
  margin-left: 0.7em;
  position: relative;
  top: -0.3em;
}
.upgrade.filled {
  color: white;
}
.upgrade.empty {
  color: #707070;
}
.minified .upgrades-container {
  clear: both;
  margin-top: 0.5em;
}
.minified .upgrade {
  display: inline-block;
  margin-left: 0.5em;
}
.minified .upgrade span {
  display: none;
}

.manoevers-container {
  background: #3E3E3E;
  border-radius: 0.5em;
  padding: 0.5em;
  float: right;
}
.manoevers th {
  font-weight: normal;
  padding-right: 0.15em;
}
.manoevers td {
  padding: 0 0.15em;
}
.manoevers i {
  font-size: inherit;
}
.manoevers .green {
  color: #66BE22;
}
.manoevers .red {
  color: #FF1F00;
}

@media screen and (min-width: 650px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  body {
    font-size: 13px;
  }
}
@media screen and (max-width: 350px) {
  .pilot-container,
  .points-container {
    font-size: 0.9em;
  }
  .id-container {
    font-size: 1.4em;
  }
  .stat i {
    display: none;
  }

  .manoevers-container {
    display: none;
  }
}
